$secondary: #080F5B;
$primary: #15db95;
$image1: 'https://icedrive.net/s/X61R1Bt7YzSaitbWvNR2iSCuFzyb';

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}


.container {
  // background-image: url("../../public/mint_page2.jpg");
  // // position: relative;
  // background-position: center center;
  // background-repeat: no-repeat;
  // background-size: cover;
  // min-height: 100vh;
  // min-width: 100vw;
  // padding-top: 20px;
  // position: relative;
  
  * {
    // background: $image1;

    // z-index: 5;
  }

  
}

.navbar {
  max-width: 1280px;
  margin: auto;
  display: flex;
  justify-content: space-between;

  .logo-cont {
    position: relative;
    width: 328px;
    height: 50px;
    @media screen and (max-width: 768px) {
      height: 24px;
      width: 50vw;
    }
  }
}
.mint-page{
  background-image: url("../../public/mint_page1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  min-height: 100vh;
  min-width: 98vw;
  @extend .center;
  flex-direction: column;
  justify-content: start;
  color:#c58218;
  text-align: center;
}
.wallet-button{
  background-image: url("../../public/collect_button.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  top: 3vw;
  width: 15rem;
  height: 2.25rem;
  border-radius: 0.5rem;
  color: black;
  
  
  
}
.mint-page-1{
  background-image: url("../../public/mint_page2.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  min-width: 100vw;
  @extend .center;
  flex-direction: column;
  color: #c58218 ;
  .sale-detail-box{
    margin-top: 5vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    min-width: 35vw;
    .detail-text{
      @extend .center;
      flex-direction: column;
      
    }
  }
  
}